<h1>Listing points</h1>
<table>
  <tr>
    <th>Name</th>
		<th>Section</th>
    <th>Distance</th>
		<th>Distance Corrected</th>
		<th>Kilometric position</th>
		<th>Kilometric position corrected</th>
    <th>Elevation</th>
		<th>Height</th>
    <th>D1</th>
    <th>D2</th>
    <th></th>
    <th></th>
		<th></th>
  </tr>
<%= render @points %>
</table>

<br />

<%= link_to 'New Point', new_point_path %>
<%= link_to 'Calculate', :controller => "points", :action => "calculate" %>