<h1>Hello there!</h1>

<p>Roadie currently supports the following actions</p>

<ul>
	<li><%= link_to "Add data", new_point_path %></li>
	<li><%= link_to "Calculate points", { :controller => "points", :action => "calculate" } %></li>
</ul>
